* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

body {
    display: flex;
}

.btn {
    padding:5px;
    border-radius: 6px;
    outline: none; 
    border: none;
    color: white;
    cursor: pointer;
    background: #938080d1;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    opacity: 1;
    filter: brightness(0.7);
}

.btn--red {
    background:#d13636d1;   
}

.grid-container {
    position:relative;
    flex-grow: 4;
}
/* grid background */
/* For showing user-selectable boxes  */
.grid-background {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* gap: 1px;    */
    /* background:steelblue; */
}

.grid-background__box {
    background: DarkSlateGray;
    color: steelblue;
    padding: 5px;
    font-size:16px;
    user-select: none;
    overflow:hidden;
    animation: grow 0.2s ease-out;
    backface-visibility: hidden;
    border: 1px solid steelblue;
    /* transform: translateZ(0); */
}
.alt-color .grid-background__box {
    color: #a3b446;
}
.grid-background__box:hover {
    opacity:0.8;
}
.grid-background__box:active {
    opacity: 1;
    background: rgb(34, 58, 58);
}

/* grid overlay */
/* For displaying selected areas */
.overlay {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    pointer-events: none;
}

.overlay__box {
    background: #00000033;
    background:#000000a6;
    pointer-events: all;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    border:#44fff5 1px dashed;
    flex-wrap:wrap;
    align-content:center;
    gap:5px;
    overflow:hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.alt-color .overlay__box {
    background: #fdce2966;
}

/* .overlay__deleteBtn {
     margin-right: 5px; 
} */

/* overlay highlight */
.overlay__highlight {
    background: #93ffcd26;
    pointer-events: all;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    pointer-events: none;
    
}

/* Side control panel */
.side-panel {
    display:flex;
    flex-direction:column;
    flex-shrink:0;
    width:400px;
    padding: 10px;
    color: #a6a6a6;
    background: #222;
}
.side-panel[data-expanded="false"] {
    width: 50px;
}

.side-panel .header {
    display: flex;

}

.side-panel[data-expanded="false"] h1,
.side-panel[data-expanded="false"] .container {
    display:none;
}

/* Side panel: Toggle open button */
.side-panel button.toggle-panel {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border:none;
    background-color: #212121;
    color: #a6a6a6;
}


.side-panel button.toggle-panel:hover {
    background-color: #2e2e2e;
    color:#3ac1c8;
}
.side-panel button.toggle-panel:active {
    opacity:0.8;
}

.side-panel button.toggle-panel__blue {
    background-color: #008cdf24;
    color: #058cce;
    outline: 1px solid #009fff52;
}

.side-panel button.toggle-panel__blue:hover {
    background-color: #05a1fd2b;
    color: #0697dd;
}



.side-panel button.toggle-panel .icon svg {
    width:20px;
    pointer-events: none;
}

.side-panel button.toggle-panel .icon {
    width: 26px;
    height: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.side-panel button.toggle-panel[aria-expanded="true"] .icon-open {
    display: none;
}

.side-panel button.toggle-panel .icon-open svg {
    margin-right:3px;
}

.side-panel button.toggle-panel[aria-expanded="false"] .icon-close {
    display: none;
}

.side-panel .header h1 {
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    margin-left:42px;
    margin-top:5px;
    color:#e0e0e0;
}

/* helper classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Keyframe Animations */

@keyframes grow {
    from {
        opacity:0;
        transform:scale(0.4);
    }

    to {
        opacity:1;
        transform:scale(1);
    }
}